<!DOCTYPE html>
<html>
  <head>
    <script>
      var xhttp = new XMLHttpRequest();
      function ajxRequest(){
        console.log("button click works");
        xhttp.open("GET", "/manifest", true);
        xhttp.send();
      }
      <% if(locals.object) { %>
      var test = <%= object %>     
    <% } %>
    </script>
  </head>
  <body>
  <h1>This is the landing page</h1>
  <button onclick="ajxRequest()">Display Manifest</button>
  <ul id="dynamic-list"></ul>
    <script>

    </script>
</body>
</html>

<!--for (var i = 0; i < test.length; i++) {
  tests = test[i].name + test[i].startLoc + test[i].endLoc;

  var ul = document.getElementById("dynamic-list");
  var li = document.createElement('li');
  li.appendChild(document.createTextNode(tests));
  ul.appendChild(li);
}       -->