<!DOCTYPE html>
<html>
  <head>
    <link href="main.css" rel="stylesheet" type="text/css">
    <script>
      // Get Request to DB
      function ajxGetRequest(){
        // Async Request object
        var xhttp = new XMLHttpRequest();
        console.log("button click works");
        // Call to endpoint
        xhttp.open("GET", "/manifest", true);
        // When Async Request is done do this callback function
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            // Parse JSON into a string
            var x = JSON.parse(this.responseText); 

            var table = document.createElement("table");
            var columnCount = 4;

            for (var i = -1; i < x.length; i++) {
              row = table.insertRow(-1);
              for (var j = 0; j < columnCount; j++) {
                var cell = row.insertCell(-1);
                if (i == -1) {
                  switch(j){
                  case 0:
                    cell.outerHTML = "<th>Order Number</th>";
                    break;
                  case 1:
                   cell.outerHTML = "<th>Customer Name</th>";
                    break;
                  case 2:
                    cell.outerHTML = "<th>Starting Location</th>";
                    break;
                  case 3:
                    cell.outerHTML  = "<th>Ending Location</th>";
                  default:
                    break;
              }
                } else {
                  switch(j){
                    case 0:
                      cell.innerHTML = x[i].id;
                      break;
                    case 1:
                      cell.innerHTML = x[i].name;
                      break;
                    case 2:
                      cell.innerHTML = x[i].startloc;
                      break;
                    case 3:
                      cell.innerHTML = x[i].endloc;
                    default:
                      break;
                }
              }
            }
          }
            var dvTable = document.getElementById("testing");
            dvTable.innerHTML = "";
            dvTable.appendChild(table);

            /************* This was the easy way to make the table without using DOM *************
            // Start the string
            var str = "<br><table id=\"customers\"><tr><th>Order Number</th><th>Customer Name</th><th>Starting Location</th><th>Ending Location</th></tr>";
            for(var i = 0; i <x.length; i++) {
              // Create the List Items in the middle of the string
              str += "<tr><td> " + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].startloc + "</td><td>" + x[i].endloc + "</td></tr>";
            }
            // End the ul
            str += "</table>";
            // set element "testing" to the str variable made earlier
            document.getElementById("testing").innerHTML = str;
          ****************************************************************************************/
        }
      }
        // Send it all off
        xhttp.send();
      }

      /*function storeValues(){
        var inputName = document.getElementById("customerName");
        var inputStartLocation = document.getElementById("startLocation");
        var inputEndLocation = document.getElementById("endLocation");
        localStorage.setItem("customerName", inputName.value);
        localStorage.setItem("startLocation", inputStartLocation.value);
        localStorage.setItem("endLocation", inputEndLocation.value);
      } */

      function displayAnimation(){
        document.getElementById("animationID").style.visibility = "visible";
        setTimeout(function(){displayAnimation("animationID", 'hidden')}, 2000)
      }
    </script>
  </head>
  <body>
    <!-- Empty Layout-->
    <!--<div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/page2">Page 2</a>
    </div>-->
  <h1>Add a Passenger to the Manifest</h1>
  <form name="form" method="POST" action="/submit">
    <input type="text" id="customerName" name="name" placeholder="Customer Name">
    <input type="text" id="startLocation" name="startloc" placeholder="Start Location">
    <input type="text" id="endLocation" name="endloc" placeholder="End Location">
    <input type="submit" onclick="storeValues()" class="button" value="Add Passenger">
  </form><br>
  <div></div>
  <h1>Display The Manifest</h1>
  <button class="button" style="margin-bottom :8px" onclick="ajxGetRequest();displayAnimation()">Display Manifest</button>
  <div id="animationID" class="lds-hourglass"></div>  
  <div id="testing"></div>
  <h1>Delete An Entry</h1>
  <form name="form" method="POST" action="/delete">
    <input type="number" name="numDelete" placeholder="0">
    <input type="submit" class="button" value="Delete Passenger">
  </form>
</body>
</html>