<!DOCTYPE html>
<html>
  <head>
    <script>
      var xhttp = new XMLHttpRequest();
      function ajxRequest(){
        console.log("button click works");
        xhttp.open("GET", "/manifest", true);
        xhttp.send();
      }
    </script>
  </head>
  <body>
    <script>
      console.log("rows? " + rows);
    </script>
  <h1>This is the landing page2</h1>
  <button onclick="ajxRequest()">Display Manifest</button>
  <ul>
    <li id="test"></li>
  </ul>
  <script>document.getElementById("test").innerHTML = rows; </script>
  </body>
</html>
