<!DOCTYPE html>
<html>
  <head>
    <script>
      var xhttp = new XMLHttpRequest();
      function ajxRequest(){
        console.log("button click works");
        xhttp.open("GET", "/manifest", true);
        xhttp.send();
      }
    </script>
  </head>
  <body>
  <h1>This is the landing page</h1>
  <button onclick="ajxRequest()">Display Manifest</button>
    <script>      
      <% if(locals.object) { %>
      var test = <%= object %>
      var ul = document.querySelector("ul");
      for (var i = 0; i < test.length; i++) {
        var x = test[i];
        var listItem = document.createElement("li");
        listItem.textContent = x;
        ul.appendChild(listItem);
      }       
    <% } %></script>
</body>
</html>
