<!DOCTYPE html>
<html>
  <head>
    <script>
      var xhttp = new XMLHttpRequest();
      function ajxRequest(){
        console.log("button click works");
        xhttp.open("GET", "/manifest", true);
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var x = JSON.parse(this.responseText); 
            var str = "<ul>";
            for(var i = 0; i <x.length; i++) {
              str += "<li> Customer Name: " + x[i].name + "<br>Starting Location: " + x[i].startloc + "<br>Ending Location: " + x[i].endloc + "</li><br>";
            }
            str += "</ul>";
            document.getElementById("testing").innerHTML = str;
          }
        }
        xhttp.send();
      }
    </script>
  </head>
  <body>
  <h1>This is the landing page</h1>
  <button onclick="ajxRequest()">Display Manifest</button>
    <div id="testing"></div>
</body>
</html>