<!doctype HTML>
<html>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css">
        <script>
            function sessionData(){
                if (sessionStorage.getItem("customerName") != null) {
                    document.getElementById("result").innerHTML = sessionStorage.getItem("customerName");
                } else {
                    document.getElementById("result").innerHTML = "If you add a passenger on the home page it will show up here";
                }
            }
        </script>
    </head>
    <body onload="sessionData()">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/page2">Page 2</a>
        </div>
        <div id="result"></div>
        <div id="theater">
            <video id="video" source="https://www.youtube.com/watch?v=LH7eegimHUQ&t=2s" controls="false"></video>
            <div class="boxCanvas">
                <canvas id="myCanvas" width="200" height="100"></canvas>
            </div>
        </div>
    </body>
</html>