<!doctype HTML>
<html>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css">
        <script>
            function sessionData(){
                if (sessionStorage.getItem("customerName") != null) {
                    document.getElementById("result").innerHTML = sessionStorage.getItem("customerName");
                } else {
                    document.getElementById("result").innerHTML = "If you add a passenger on the home page it will show up here";
                }
            }

            function drawCircle() {
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                ctx.beginPath();
                ctx.arc(95,50,40,0,2 * Math.PI);
                ctx.stroke();
            }

            function displayContent(content){
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                var img = document.getElementById(content);
                ctx.drawImage(img,0,0);
            }
        </script>
    </head>
    <body onload="sessionData();">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/page2">Page 2</a>
        </div>
        <div id="result"></div>
        <div class="theater">
            <img id="lions" src="https://www.bornfree.org.uk/storage/media/content/images/Field%20Conservation%20Work/Meru/meru-1.jpg">
            <img id="tigers" src="https://api.fauna-flora.org/wp-content/uploads/2017/10/CBD-8127-JHO-400x400.jpg">
            <img id="bears" src="https://shortyawards.imgix.net/profile/images/3424553/thecancelbear.jpeg?auto=format&fit=crop&h=400&q=65&w=400&s=8e9d64fd17f09e8a80daaf08784aebca">
        </div>
        <br><br>
        <div class="dropdown">
            <button class="dropbtn">Canvas Options</button>
            <div class="dropdown-content">
                <button onclick="drawCircle()">Draw A Circle</button>
                <button onclick="displayContent('lions')">Lions!</button>
                <button onclick="displayContent('tigers')">Tigers!</button>
                <button onclick="displayContent('bears')">& Bears!</button>
            </div>
        </div>
        <div class="boxCanvas">
            <canvas id="myCanvas" width="400" height="400"></canvas>
        </div>
    </body>
</html>