<!doctype HTML>
<html>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css">
        <script>
            function sessionData(){
                if (sessionStorage.getItem("customerName") != null) {
                    document.getElementById("result").innerHTML = sessionStorage.getItem("customerName");
                } else {
                    document.getElementById("result").innerHTML = "If you add a passenger on the home page it will show up here";
                }
            }
            function displayContent(content){
                var canvas = document.getElementById("myCanvas");
                var ctx = canvas.getContext("2d");
                var img = document.getElementById(content);
                ctx.drawImage(img,0,0);
            }
        </script>
    </head>
    <body onload="sessionData(); getMyVideo();">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/page2">Page 2</a>
        </div>
        <div id="result"></div>
        <div class="theater">
            <img id="lions" src="https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg">
            <img id="tigers" scr="https://www.gannett-cdn.com/presto/2019/03/02/PPHX/351abe2c-23b4-41df-aa2e-caa1f9d1e758-Suriya.jpg?crop=959,547,x0,y121&width=3200&height=1680&fit=bounds">
            <img id="bears" src="https://thenypost.files.wordpress.com/2014/09/bear1.jpg?quality=90&strip=all&w=618&h=410&crop=1>
        </div>
        <br><br>
        <div class="dropdown">
            <button class="dropbtn">Canvas Options</button>
            <div class="dropdown-content">
                <button onclick="displayContent('lions')">Lions!</button>
                <button onclick="displayTiger()">Tigers!</button>
                <button onclick="displayBear()">& Bears!</button>
            </div>
        </div>
        <div class="boxCanvas">
            <canvas id="myCanvas" width="400" height="400"></canvas>
        </div>
    </body>
</html>