<!DOCTYPE html>
<html>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css">
        <script>
            //Draw the edges of the canvas as lines
            function drawEdges()
            {
                console.log("calling edges");
                var canvas = document.getElementById("myCanvas");
                canvas.width = canvas.width;
                var ctx = canvas.getContext("2d");
                ctx.beginPath();
                ctx.moveTo(0, 0);
                ctx.lineTo(0, 400);
                ctx.lineTo(400, 400);
                ctx.lineTo(400, 0);
                ctx.lineTo(0, 0);
                ctx.lineWidth = 10;
                ctx.stroke();
            }

        </script>
    </head>
    <body onload="drawEdges();">
        <!-- Navigation Bar On Top -->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/page2">Page 2</a>
            <a class="active" href="/page3">Page 3</a>
        </div>
        <h1>Draw lines to calculate triangles</h1>
        <!-- Blank Canvas -->
        <div class="boxCanvas">
            <canvas id="myCanvas" width="400" height="400"></canvas>
        </div>
    </body>
</html>