<!DOCTYPE html>
<html>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css">
        <script>
            //Draw the edges of the canvas as lines
            function drawEdges()
            {
                var canvas = document.getElementById("myCanvas");
                canvas.width = canvas.width;
                var ctx = canvas.getContext("2d");
                ctx.beginPath();
                ctx.moveTo(0, 0);
                ctx.lineTo(0, 400);
                ctx.lineTo(400, 400);
                ctx.lineTo(400, 0);
                ctx.lineTo(0, 0);
                ctx.lineWidth = 10;
                ctx.stroke();

                if(window.addEventListener) {
                    window.addEventListener('load', function() {
                        var canvas, context;

                        function init () {
                            // Find the canvas element.
                            canvas = document.getElementById('imageView');
                            if (!canvas) {
                            alert('Error: I cannot find the canvas element!');
                            return;
                            }

                            if (!canvas.getContext) {
                            alert('Error: no canvas.getContext!');
                            return;
                            }

                            // Get the 2D canvas context.
                            context = canvas.getContext('2d');
                            if (!context) {
                            alert('Error: failed to getContext!');
                            return;
                            }

                            // Attach the mousemove event handler.
                            canvas.addEventListener('mousemove', ev_mousemove, false);
                        }

                        // The mousemove event handler.
                        var started = false;
                        function ev_mousemove (ev) {
                            var x, y;

                            // Get the mouse position relative to the canvas element.
                            if (ev.layerX || ev.layerX == 0) { // Firefox
                            x = ev.layerX;
                            y = ev.layerY;
                            } else if (ev.offsetX || ev.offsetX == 0) { // Opera
                            x = ev.offsetX;
                            y = ev.offsetY;
                            }

                            // The event handler works like a drawing pencil which tracks the mouse 
                            // movements. We start drawing a path made up of lines.
                            if (!started) {
                            context.beginPath();
                            context.moveTo(x, y);
                            started = true;
                            } else {
                            context.lineTo(x, y);
                            context.stroke();
                            }
                        }
                        init();
                    }, false);}
            }

        </script>
    </head>
    <body onload="drawEdges();">
        <!-- Navigation Bar On Top -->
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/page2">Page 2</a>
            <a class="active" href="/page3">Page 3</a>
        </div>
        <h1>Draw lines to calculate triangles</h1>
        <!-- Blank Canvas -->
        <div class="boxCanvas">
            <canvas id="myCanvas" width="400" height="400"></canvas>
        </div>
    </body>
</html>